h1 {
  font-family: 'Alegreya SC', serif;
  color: #000411;
}

.header-text-responsive {
  font-family: 'Alegreya SC', serif;
  color: #000411;
  font-size: 23px;
  
}

nav {
  background: #033d4938;
}

#header-first-letter {
  font-size: 110%;
  -webkit-text-stroke: 1px #E3F0E8;
}

#header-first-letter-responsive {
  font-size: 200%;
  -webkit-text-stroke: 1px #E3F0E8;
}

#header-login-logout {
  /* display: inline-flex; */
}

.jumbotron {
  background-image: url('./img/spice-market.jpeg');
  background-size: cover;
  height: 450px;
  /* opacity: 0.7; */
}

.btn {
  background-color: #EFCB68;
  color: #160C28;
  border-color: #160C28;
}

.media-obj-img {
  width: 30%;
}

p {
  font-family: 'Alegreya Sans', sans-serif;
}

h4, h5, h6 {
  font-family: 'Alegreya Sans SC', sans-serif;
}

.one-media-obj, .media-container {
  /* display: block; */
}

.navbar-brand {
  /* margin-right: 20%; */
}

.responsive-nav {
  margin: 0;
  padding: 0;
}

.responsive-nav-link {
  list-style: none;
  /* margin-right: 5px; */
  font-size: 30px;
}

/* .nav-item {
  margin-right: 15px;
} */

form {
  font-family: 'Alegreya Sans', sans-serif;
}

.add-recipe-sm-input {
  /* display: flex;
  flex-direction: row; */
}

.footer-top-level {
  margin-top: 250px;
}

.sm-card {
  /* width: 18rem; */
  /* display: inline-block;
  margin: 5%; */
}

.top-level {
  /* width: 90%; */
  margin: 0 auto;
}

/* .my-account-info {
  display: inline-block;
  margin-left: 15%;
} */

.my-account-img {
  display: inline-block;
  vertical-align: top;
}

/* .my-contributions {
  display: inline-block;
  vertical-align: top;
  margin-left: 15%;
} */

.contribution-list, .search-results-list {
  text-decoration: none;
  color: #000411;
}

.add-on .input-group-btn > .btn {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.footer-text {
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 800px) {
  .img-thumbnail {
    height: 350px;
  }
}

.recipe-links {
  text-decoration: none;
  color: black;
  list-style: none;
}

.recipe-form {
  padding: 10px;
}